.navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
    a.navbar-brand(href="/") Super Site !
div#main-menu.navbar-collapse.collapse
    if user
        ul.nav.navbar-nav
            each data, section in menu
                - var activeClass = '';
                - var navClass = '';
                - if (section == activeSection)
                    activeClass = 'active';
                - if (data.child != undefined)
                    navClass = 'dropdown';
                li(class='#{activeClass} #{navClass}')
                    if data.child != undefined
                        a.dropdown-toggle(href="#", data-toggle="dropdown") #{__i(data.label)}
                            b.caret
                        ul.dropdown-menu
                            each dataChild, childSection in data.child
                                li
                                    a(href="#{dataChild.url}") #{__i(dataChild.label)}
                    else
                        a(href="#{data.url}") #{__i(data.label)}
        p.nav.pull-right
            | Signed in as
            a(href="/profile", class="navbar-link")= user.getName()
            | &nbsp;
            a.btn.btn-danger.navbar-btn(href="/logout"): i.glyphicon.glyphicon-log-out
    else
        ul.nav.navbar-nav.pull-right
            a.btn.btn-default.navbar-btn(href="/signup") SignUp
            a.btn.btn-default.navbar-btn(href="/login")  LogIn
