extends ../layout

block content
    include ../commons/messages
    form.form-login(method="POST", action="/login")
        h2.form-login-heading #{__i('login-form-label-title')}
        input.form-control#email(type='text', name='email', placeholder="#{__i('login-form-label-email')}")
        input.form-control#password(type='password', name='password', placeholder="#{__i('login-form-label-password')}")
        label.checkbox
            input(type="checkbox", value="remember-me")
            | #{__i('login-form-label-rememberMe')}
        input.btn.btn-lg.btn-primary.btn-block(type="submit", value="#{__i('login-form-label-submit')}")
        hr
        a.pull-right(href="/request/reset/password") #{__i('login-form-label-requestForResetingPassword')}
    .form-login
        a.btn.btn-primary(href="/auth/facebook") #{__i('login-form-label-facebookLogIn')}
