extends ../layout

block content
    include ../commons/messages
    form.col-md-4(id="signup", method="POST", action="/forgot/password", role="form")
        legend #{__i('requestForResetingPassword-form-label-title')}
        .form-group
            label.sr-only.control-label(for='email') #{__i('requestForResetingPassword-form-label-email')}
            input#email.form-control(type='text', name='email', placeholder="#{__i('requestForResetingPassword-form-label-email')}", value=email)
        input.btn.btn-default(type="submit", value="#{__i('requestForResetingPassword-form-label-submit')}")
