extends ../layout

block content
    include ../commons/messages
    form.col-md-4(id="signup", method="POST", action="/reset/password", role='form')
        legend  #{__i('resetPassword-form-label-title')}
        input#regeneratePasswordKey(type='hidden', name='regeneratePasswordKey', value=regeneratePasswordKey)
        .form-group
            label.sr-only.control-label(for='password')  #{__i('resetPassword-form-label-password')}
            input#password.form-control(type='password', name='password', placeholder=" #{__i('resetPassword-form-label-password')}")
        input.btn.btn-default(type="submit", value=" #{__i('resetPassword-form-label-submit')}")
